body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

.business-card {
  width: 300px;
  background-color: rgba(150, 147, 100, 0.792);
  margin-top: 100px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  border-style: solid;
}

.profile-image {
  max-width: 100%;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: brown;
}

a:hover {
  color: rgb(147, 28, 202);
}
